/*
Theme Name: IA News
Theme URI: http://wordpress.org/themes/ianews
Author: Abas Djumadi
Author URI: http://abas.my.id/
Description: Wordpress theme for news made in Gorontalo.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: ianews

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
body{
    background-color: #d8d8d8;
}
@font-face{
    font-family: BebasNeue;
    src: url('fonts/BebasNeue/BebasNeue.woff');
}
.bg-nav60dtk{
    background-color: #f34039;
}
.brand60dtk{
    color:#fff !important;
    font-family: "Arial" !important;
    font-size: 3em;
    font-weight: 800;
}
.tagline{
    color: #fefefe;
    margin: 0px;
    padding: 0px;
    clear: both;
}
.shadow60dtk{
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}
.bg-white{
    background-color: #fff;
}
.page-title{
    font-family: BebasNeue,Helvetica, Arial, sans-serif;
    color: #ed3e37;
    font-weight: 800;
    font-size: 1.7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.page-title a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding-top: 5px;
}

.carousel-caption{
    text-align: left !important;
    left: 2% !important;
    right: auto !important;
    bottom: 0px !important;
    padding-bottom: 2px !important;
    padding-top: 0px !important;
    line-height: normal;
}
.carousel-caption h5,.carousel-caption p{
    font-weight: 900;
}
.highlight{
    background-color: #fff;
}
.carousel-caption h5{
    color: red;
    font-size: 2rem;
}
.carousel-caption p{
    font-size: 2.2rem;
}
#slider img{
    height: 383px;
}
.headline_title{
    font-size: 0.8em; 
    font-weight: bold;
    border-bottom: 2px solid #d8d8d8;
}
.content_author_name{
    font-size: 0.9em;
    font-weight: bold;
    color: #ec3e37;
}
.content_post_date{
    color: #767676;
}
.content_60dtk{
    font-family: Arial, Helvetica, sans-serif;
    color: #ed3e37;
    font-weight: bold;
}
.content_60dtk_category{
    color: #afafaf;
}
.sosial_button{
    font-size: 0.5em;
}
.sosial_button a{
    text-decoration: none;
    color: #767676;
}
.w-10{
    width: 10%!important;
}
.w-15{
    width: 15%!important;
}
.w-20{
    width: 20%!important;
}
.w-30{
    width: 30%!important;
}
.w-70{
    width: 70%!important;
}
.h-60{
    height: 60px!important;
}

.img-author{
    width: 15%!important;
    height: 50px!important;
}
.box-body img{
    display: block;
    width: 100%;
}
.fs-1{
    font-size: 1rem!important;
}
.fc-60{
    color: #ec3e37;
}
.fs-09{
    font-size: 0.9rem!important;
}
.ff-bn{
    font-family: BebasNueue;
}
.border-top-1{
    border-top: 1px solid #d8d8d8;
}
.btn-hubungi{
    color: #fff;
    background-color: #f44b4e;
    border-color: #f44b4e;
}
.text-bold{
    font-weight: bold;
}
.footer{
    background-color: #ed3e37;
    padding: 30px;
}

.no-flow-into .instructions {
    display: none;
}

.no-flow-into .warning {
    display: block;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: #000000;
    border: 0;
    outline: 0;
    background: none;
    padding: 0 10px;
    width: 450px;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: #f20000;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #f20000;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .search_input {
        color: #000000;
        border: 0;
        outline: 0;
        background: none;
        padding: 0 10px;
        width: 300px;
        caret-color: transparent;
        line-height: 40px;
        transition: width 0.4s linear;
    }

    .searchbar:hover>.search_input {
        padding: 0 10px;
        width: 300px;
        caret-color: #f20000;
        transition: width 0.4s linear;
    }

    .searchbar:hover>.search_icon {
        background: white;
        color: #e74c3c;
    }

    .search_icon {
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #f20000;
        text-decoration: none;
    }
}
.tampilwaktu {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.fa-bars{
    color: #fff;
}