/*
Theme Name: IA News
Theme URI: http://wordpress.org/themes/ianews
Author: Abas Djumadi
Author URI: http://abas.my.id/
Description: Wordpress theme for news made in Gorontalo.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: ianews

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
body, html {
    font-family: roboto,sans-serif;
    font-size: 16px;
    color: #616161;
    overflow-x: hidden;
    font-weight: 400;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background-color: #d8d8d8!important;
}
@font-face{
    font-family: BebasNeue;
    src: url('assets/fonts/BebasNeue/BebasNeue.woff');
}
a{
    text-decoration: none;
    color: #212529;
}
a:hover{
    text-decoration: none;
    font-size: 1.1em;
    color: #fa423b;
}
.bg-nav60dtk{
    background-color: #f34039;
}
.brand60dtk{
    color:#fff !important;
    font-family: "Arial" !important;
    font-size: 3em;
    font-weight: 800;
}
.tagline{
    color: #fefefe;
    margin: 0px;
    padding: 0px;
    clear: both;
}
.shadow60dtk{
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}
.bg-white{
    background-color: #fff;
}
.page-title{
    font-family: BebasNeue,Helvetica, Arial, sans-serif;
    color: #ed3e37;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.page-title a{
    text-decoration: none;
    color: #8a8383;
    font-size: .8rem;
    padding-top: 2px;
    font-weight: normal;
}

.carousel-caption{
    text-align: left !important;
    left: 2% !important;
    right: auto !important;
    bottom: 0px !important;
    padding-bottom: 2px !important;
    padding-top: 0px !important;
    line-height: normal;
}
.carousel-caption h5,.carousel-caption p{
    font-weight: 900;
}
.highlight{
    background-color: #fff;
    font-size: 1rem;
}
.highlight a{
    color: red;
}
.slider-title a{
    color: white;
}
.carousel-caption h5{
    color: red;
    font-size: .1rem;
}
.color-red{
    color: red!important;
}
.carousel-caption p{
    font-size: 2rem;
}
#slider img{
    height: 400px;
    border-radius: .60rem;
}
.headline_title{
    font-size: 0.8em; 
    font-weight: bold;
    border-bottom: 2px solid #d8d8d8;
}
.headline_title a:hover{
    text-decoration: none;
    font-size: 0.8em!important;
    color: #fa423b;
}
.content_author_name{
    font-size: 0.9em;
    font-weight: bold;
    color: #ec3e37;
}
.content_post_date{
    color: #767676;
}
.content_60dtk{
    font-family: Arial, Helvetica, sans-serif;
    color: #ed3e37;
    font-weight: bold;
}
.content_60dtk_category{
    color: #afafaf;
}
.sosial_button{
    font-size: 0.5em;
    text-align: center;
}
.sosial_button span, .sosial_button a, .sosial_button button{
    width: calc(100%/3);
    padding: 5px;
}
.sosial_button.clicked span, .sosial_button.clicked a, .sosial_button.clicked button{
    width: auto;
    padding: 0px;
}
.sosial_button a{
    text-decoration: none;
    color: #767676;
}

.sosial_button .share-box{
    display: none;
    opacity: 0;
    width: 170px;
    height: 32px;
    top: -5px;
    left: 0;
    z-index: 9;
    -webkit-transition: .2s;
    transition: .2s;
}
.sosial_button.clicked .share-box{
    display: inline;
    opacity: 1;
    left: 75px;
}
.sosial_button button{
    color: #767676;
}
.sosial_button .share-box a{
    background-color: #616770;
    border-radius: 50%;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 26px;
    margin: 0!important;
    padding: 0 !important;
    text-align: center;
    color: #616770;
}
.sosial_button span{
    color: #616770;
}
.sosial_button .share-box a img {
    width: 16px;
    height: auto;
    line-height: .8;
    vertical-align: middle;
}
.w-10{
    width: 10%!important;
}
.w-15{
    width: 15%!important;
}
.w-20{
    width: 20%!important;
}
.w-30{
    width: 30%!important;
}
.w-70{
    width: 70%!important;
}
.h-60{
    height: 60px!important;
}

.img-author{
    width: 15%!important;
    height: 50px!important;
}
.shadow60dtk img{
    display: block;
    width: 100%;
}
.fs-05{
    font-size: 0.5rem!important;
}
.fs-1{
    font-size: 1rem!important;
}
.fc-60{
    color: #ec3e37;
}
.fs-09{
    font-size: 0.9rem!important;
}
.ff-bn{
    font-family: BebasNueue;
}
.border-top-1{
    border-top: 1px solid #d8d8d8;
}
.btn-hubungi{
    color: #fff;
    background-color: #f44b4e;
    border-color: #f44b4e;
}
.text-bold{
    font-weight: bold;
}
.footer{
    background-color: #ff0a00;
    padding: 30px;
}
.footer-mini{
    background-color: #ef3f39;
    color: white;
    line-height: 50px;
    margin: 0px;
}
.footer-menu{
    position: sticky;
    padding-right: 10px;
    text-align: center;
}
.footer-menu li{
    display: inline;
    list-style-type: none;
}
.footer-menu li:not(:last-child)::after{
    content: "|";
    color: #fff;
}
.footer-menu a{
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding-right: 10px;
}

#ads_top img{
    margin-bottom: 5px;
    display: block!important;
    width: 100%!important;
}
.imgauthorsinggle img{
    display: block;
    margin-right: 1rem!important ;
    height: 50px!important;
    border-radius: 50%!important;
}
.entry-content{
    text-align: left;
    font-size: 12pt;
    color: #000;
}
.entry-content img{
    height: 100%;
    width: 100%;
}
.entry-content .wp-caption{
    width: 100%!important;
}
.post-thumbnail{
    margin-bottom: 10px;
}
.post-thumbnail img{
    border-radius: .60rem;
}
.size-post-thumbnail{
    width: 100%;
}
.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 30px;
    background-color: transparent;
    border: 1px solid ;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: #000000;
    border: 0;
    outline: 0;
    background: none;
    padding: 0 10px;
    width: 450px;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: #f20000;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #f20000;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .search_input {
        color: #000000;
        border: 0;
        outline: 0;
        background: none;
        padding: 0 10px;
        width: 300px;
        caret-color: transparent;
        line-height: 40px;
        transition: width 0.4s linear;
    }

    .searchbar:hover>.search_input {
        padding: 0 10px;
        width: 300px;
        caret-color: #f20000;
        transition: width 0.4s linear;
    }

    .searchbar:hover>.search_icon {
        background: white;
        color: #e74c3c;
    }

    .search_icon {
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #f20000;
        text-decoration: none;
    }

    #slider img{
        height: auto;
    }
    .page-title{
        padding-left: 9px!important;
        font-size: 16px;
        letter-spacing: 1px;
    }
    .page-title a{
        font-size: .5rem;
        padding-top: 1px;
        letter-spacing: 1px;
    }
    .box {
        margin-left: 5px!important;
        margin-right: 5px!important;
    }
    #first-nav{
        display: none;
    }
    
    .redaksi img {
        height: 100%!important;
        width: 60%!important;
        margin-left: auto!important;
        margin-right: auto!important;
        display: block!important;
        border-radius: 50%!important;
        margin-bottom: 20px;
    }
    .redaksi p{
        margin-bottom: 0!important;
    }
    .slider-title a{
        font-size: .8rem!important;
    }
    .carousel-caption p{
        font-size: 0px !important;
    }
    .highlight {
        font-size: .3rem;
    }
    #second-nav{
        display: none;
    }
    .sticky-wrapper{
        display: none;
    }
    .post-thumbnail img{
        height: auto;
    }
    .entry-footer .badge{
        white-space: normal!important;
    }
}
#second-nav .navbar-brand, #second-nav .formsearch{
    display: none;
}

.tampilwaktu {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.fa-bars{
    color: #fff;
}
.bc-icons{
    border-bottom: 1px solid #d2cccc;
}
.bc-icons .breadcrumb-item + .breadcrumb-item::before {
content: none; }
.bc-icons .breadcrumb-item+.breadcrumb-item {
    padding-left: .1rem;
    font-size: 10pt;
    font-weight: bold;
    text-transform: uppercase;
}
.gray{
    color: #f34039!important;
}
.entry-title{
    font-size: 1rem !important;
    line-height: 1.2 !important;
    font-weight: bold;
}

.wp-social-buttons a {
    background: #ccc;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 2px 4px;
    overflow: hidden;
    width: 30px;
      
}
  
.wp-social-buttons a:hover {
    background: #ddd;
    text-decoration: none;
}
  
.wp-social-buttons a:before {
    color: #fff;
    font-family: FontAwesome;
    content: "\f099";
    padding: 12px 9px;
}
  
.wp-social-buttons .icon-fb:before {
    content: "\f09a";
}
  
.wp-social-buttons .icon-gplus:before {
    content: "\f0d5";
}
  
.wp-social-buttons a:hover:before {
    color: #000;
}


.share-buttons, .follow-us {
    font-size: 0.7rem;
    line-height: 0.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 0 20px;
    z-index: 2;
    position: relative;
    text-align: center;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.share-buttons li {
    height: auto;
    flex: 0 1 auto;
    width: calc(25% - 1px);
    margin-right: 1px;
}

.share-buttons li:last-child {
    width: 25%;
    margin-right: 0;
}

.share-buttons svg {
    fill: #fff;
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.share-googleplus svg {
    width: 20px;
    height: 16px;
}

.share-buttons a {
    display: block;
    padding: 12px 12px 9px;
    text-align: center;
}

.share-buttons li:first-child a {
    border-radius: 3px 0 0 3px;
}

.share-buttons li:last-child a {
    border-radius: 0 3px 3px 0;
}

/* .share-twitter	{
    background: #1da1f2;
}

.share-facebook	{
    background: #3b5998;
}

.share-pinterest	{
    background: #b5071a;
} */

.share-whatsapp {
  background-color: #25D366!important;
}

.share-whatsapp:hover {
  background-color: #1da851;
}

.fallow-us li {
    height: auto;
    flex: 0 1 auto;
    width: calc(33% - 1px);
    margin-right: 1px;
}

.fallow-us li:last-child {
    width: 33%;
    margin-right: 0;
}

.follow-us a{
    padding: 10px;
}
.follow-us svg{
    fill: #fff;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}


a.pp_like i {
font-size: 18px;
color: #007acc;
}
a.pp_like {
text-decoration: none;
box-shadow: none;
}
a.pp_like.liked i {
color: red;
}
.lds-facebook {
display: inline-block;
position: relative;
width: 64px;
height: 38px;
display:none;
margin-top: -20px;
}
.lds-facebook div {
display: inline-block;
position: absolute;
left: 6px;
width: 13px;
background: #007acc;
animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
left: 0px;
animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
left: 22px;
animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
left: 45px;
animation-delay: 0;
}
@keyframes lds-facebook {
0% {
top: 6px;
height: 51px;
}
50%, 100% {
top: 19px;
height: 26px;
}
}
#headerNav a{
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}


/* Wrapper */
.sl-wrapper a {
	border-bottom: 0 !important;
	text-decoration: none !important;
}
.sl-button {
	padding: 0.375em 0.625em;
	font-size: 1em;
	line-height: 1;
	font-weight: normal;
}

/* Colors */
a.liked {
	color: #da1b1b;
}
a.liked:hover,
a.liked:active,
a.liked:focus {
	color: #666666;
}
a.liked span.sl-count,
.sl-count {
	color: #666666;
}

/* Icon */
.sl-icon {
	margin-right: 0.3125em;
	font-family: 'Arial Unicode MS', Arial, sans-serif;
	vertical-align: middle;
}
.sl-icon svg {
	fill: currentColor;
	width: 1em;
	height: 1em;
}
.sl-icon svg:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
}

/* Count */
.sl-count {
	vertical-align: middle;
}

/* Loader */
.loader,
.loader:before,
.loader:after {
  background: rgba(0, 0, 0, 0.2);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: .2em;
  height: .6em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -.375em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  font-size: 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: .375em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 rgba(0, 0, 0, 0.2);
    height: .6em;
  }
  40% {
    box-shadow: 0 -.3em rgba(0, 0, 0, 0.2);
    height: 1em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 rgba(0, 0, 0, 0.2);
    height: .6em;
  }
  40% {
    box-shadow: 0 -.3em rgba(0, 0, 0, 0.2);
    height: 1em;
  }
}
.bg-transparent{
    background-color: transparent!important;
}
.border-bottom{
    border-bottom: 1px solid #fff;
}

@media (max-width: 768px) {
    .navbar-collapse {
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        z-index: 99999;
        background-color:#f34039!important;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease-in;
    }
    #headerNav{
        padding-top: 10px;
        height: 100%;
        position: fixed;
    }
    #headerNav .navbar-toggler{
        float: right;
        color: #fff;
    }
    .mobile-nav{
        display: flex!important;
        padding: 10px;
    }
    .mobile-nav #navbarMobileMenu{
        height: 100%;
        position: fixed;
        background-color: red;
        padding: 0px;
    }
    #navbarMobileMenu .dropdown-menu {
        background-color: #ca0000;
        color: #fff;
    }
    #navbarMobileMenu ul{
        padding: 5px!important;
        width: 100%;
    }
    #navbarMobileMenu li{
        border-bottom: 1px solid #ddd;
        padding : 5px;
    }
    #navbarMobileMenu a{
        color: #fff;
        padding: 5px;
    }
    .mobileNavHeader{
        background-color: #ca0000;
        padding: 5px;
    }
    .navbarMobileMenu form{
        padding: 5px;
    }
    #navbarMobileMenu .dropdown-toggle::after {
        margin-left: .255em;
        vertical-align: .255em;
        content: "+";
        float: right;
        border-top: unset;
        border-right: unset;
        border-bottom: unset;
        border-left: unset;
        font-weight: bold;
    }
    .mt-130{
        margin-top: 64px;
    }
    .mt-80{
        margin-top: 50px;
    }
    #first .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    #first .container, #first .row, #first .mb-2{
        margin-bottom: 2px!important;
    }
    .redaksi img{
        height: 100%!important;
        width: 100%!important;
        margin-left: auto!important;
        margin-right: auto!important;
        display: block!important;
        border-radius: 50%!important;
    }
    .sosial_button span, .sosial_button a, .sosial_button button {
        width: auto;
        padding: 5px;
    }
    
}
.momg img{
    width: 100%!important;
    height: 60px!important;
}

.ianews_loadmore{
	background-color: #ff0a00;
	border-radius: 2px;
	display: block;
	text-align: center;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	letter-spacing:1px;
	cursor:pointer;
	text-transform: uppercase;
	padding: 10px 0;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;  
}
.ianews_loadmore:hover{
	background-color: #767676;
	color: #fff;
}
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #f34039!important;
}

.sticky.is-sticky .nav-link {
    color:#fff;
}
.sticky.is-sticky .nav-link {
    color:#fff;
}
.sticky.is-sticky .active>.nav-link {
    color:#fff;
}
#second-nav.is-sticky .navbar-brand, #second-nav.is-sticky .formsearch{
    display: flex!important;
}
.ianews-dark{
    background-color: black!important;
}
.redaksi img{
    height: 60px!important;
    width: 70%!important;
    margin-left: auto!important;
    margin-right: auto!important;
    display: block!important;
    border-radius: 50%!important;
}
.text-white::placeholder{
    color: #fff;
}
.body-image img{
    height: 200px!important;
    border-radius: .60rem!important;
}
.body-image-full img{
    min-height: 100px!important;
    /* height: 300px; */
    border-radius: .60rem!important;
}
.body-title{
    min-height: 50px;
}
.mobile-nav{
    display: none;
}

#toTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#toTop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.overlay {
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 90;
    position: fixed;
    background-color: rgba(38,50,56,0.8);
}
.navbar{
    z-index: 99;
}

.navbar-menu {
    display: none;
    margin: 0px;
    left: 0px;
    z-index: 99;
    width: 100%;
    position: fixed;
    background-color: #ed2124;
    height: 100%;
}
.no-scroll{
    overflow: hidden;
}
.primary-menu{
    width: 100%;
}
.primary-menu .column {
  float: left;
  width: 16.6%;
  padding: 5px;
  color: #fff;
  font-family: "Montserrat",sans-serif;
}
.primary-menu .column h3 a{
    font-size: 1rem;
    font-weight: bold!important;
    text-transform: uppercase;
}
.primary-menu .column a {
  float: none;
  color: #fff;
  font-size: .8rem;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: uppercase;
}
.primary-menu a:hover{
    font-size: 1rem;
    color: #fff;
}
.primary-menu li ul li{
    display: block;
    clear: both;
}
.primary-menu .d-inline{
    display: none!important;
}
.secondary-menu{
    width: 100%;
}
.secondary-menu li{
    font-size: 1rem;
    font-weight: 400;
    font-family: "Montserrat",sans-serif;
    width: 150px;
    white-space: nowrap;
    display: inline-block;
}
.secondary-menu li a{
    color: #fff;
    padding: 5px;
}
.ianews-mmp{
    border-top: 1px solid #D0D9DD;
    padding-top: 16px;
}
.kanan{
    height: 406px!important;
}
.h-redaksi{
    height: 375px;
}
.h-kontak{
    height: 160px;
}
.box-tranding{
    height: 393px!important;
}
.judul{
    color: #000;
    font-weight: bold;
}
.single{
    background-color: #fff!important;
}
.sosmed img{
    width: 150px;
    margin: 10px;
}
#related_post{
    background-color: #EDF0F2;
    margin-bottom: 0px;
}
.scrollable {
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
   
}
.scrollable .item {
    display: table;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 0 10px;
    width: 0;
    white-space: nowrap;
}
.scrollable .item article {
    display: inline-block;
    margin: 0 5px;
    white-space: normal;
    vertical-align: top;
}
.card-img-top{
    height: 250px;
}
.entry-content iframe{
    width: 100%;
}
.media img{
    border-radius: .60rem;
}
.content-ads{
    background: #f5f5f5;
    margin-left: -10px;
    padding: 10px;
    margin-right: -10px;
}
.content-ads-title{
    text-align: center;
    font-size: 12px;
    color: #cdcdcd;
}
.rounded-60, .rounded-60 img{
    border-radius: .60rem!important;
}
.format-icon.format-video {
    padding-left: 2px;
    z-index: 9;
}

.format-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    pointer-events: none;
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: rgba(0, 0, 0, .3);
    font-size: 14px;
    -webkit-transition: .43s cubic-bezier(.47, .13, .16, .72) 0s;
    -moz-transition: .43s cubic-bezier(.47, .13, .16, .72) 0s;
    -o-transition: .43s cubic-bezier(.47, .13, .16, .72) 0s;
    transition: .43s cubic-bezier(.47, .13, .16, .72) 0s;
}
.badge a{
    color: #fff!important;
}
@media screen and (max-width: 600px) {
    .navbar-menu {
        padding-bottom: 50px;
        overflow: scroll;
    }
    .primary-menu{
        margin-top: 65px;
    }
    .primary-menu .d-inline{
        display: inline!important;
    }
    .primary-menu .column {
        width: 50%;
        height: auto;
    }
    .fa-2x{
        font-size: 1em;
    }
    .entry-content iframe{
        width: 100%;
        height: 100%;
    }
    .body-image img {
        height: auto!important;
    }
    .body-image-full img {
        width: 100%!important;
        height: 335px;
    }
    article .box{
        width: 300px!important;
    }
    .footer-menu li:not(:last-child)::after{
        content: "";
        color: #fff;
    }
    .tampilwaktu {
        color: white;
        padding: 2px;
        text-align: right;
        font-size: 10px;
    }
    .h-60 {
        height: auto!important;
    }
    .headline_title,.box-tranding,.kanan,.h-redaksi,.h-kontak{
        height: auto!important;
    }
    .judul{
        font-size: 24px!important;
        font-weight: 900;
    }
    #single-article{
        margin-top: 64px;
    }
    .mobile-nav img{
        width: 100%;
    }
    .sosmed img{
        width: 100px!important;
        padding: 4px;
    }
    .card-body{
        padding: 11px!important;
    }
    .card-title{
        margin-bottom: 0px;
        color: #323232;
        font-size: 14px;
        font-weight: bold;
    }
    .card-img-top{
        height: 118px;
    }
    .card-img-infografik{
        height: 300px;
    }
    .m-logo{
        width: 145px;
    }
    .redaksi-pict{
        width: 110px!important;
        margin:4px;
    }
}